:host {
  display: block;

  .card {
    padding: 1rem;
    border-radius: 1rem;
    background: var(--surface-card);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  }

  ::ng-deep .p-paginator {
    background: transparent !important;
  }
}
